# =============================================================================
# BED — Generic 3950 thermistor / 300x300 silicone heater
# =============================================================================

[heater_bed]
heater_pin: BED_HEATER
sensor_pin: BED_TEMP
sensor_type: Generic 3950
min_temp: -20
max_temp: 130

# -----------------------------------------------------------------------------
# BED MESH — Cartographer (y_offset: 51, mesh starts at y=60)
# -----------------------------------------------------------------------------

[bed_mesh]
speed: 300
horizontal_move_z: 3
mesh_min: 20, 60
mesh_max: 280, 270
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0, 0
zero_reference_position: 150, 150
