# =============================================================================
# BED
# =============================================================================

[heater_bed]
heater_pin: PA1
sensor_pin: PF4
sensor_type: Generic 3950
min_temp: -20
max_temp: 130

# -----------------------------------------------------------------------------
# BED MESH — Cartographer (y_offset: 51, so mesh starts at y=60)
# -----------------------------------------------------------------------------

[bed_mesh]
speed: 300
horizontal_move_z: 3
mesh_min: 20, 60
mesh_max: 280, 270
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0, 0
zero_reference_position: 150, 150
