# =============================================================================
# FANS
# =============================================================================

# Liquid cooling pump — runs when extruder is hot, 2 min idle timeout
[controller_fan pump]
pin: PE5
cycle_time: 0.01
fan_speed: 1.0
idle_timeout: 120
heater: extruder

# Liquid cooling radiator — runs when extruder is hot, 1 min idle timeout
[controller_fan radiator]
pin: PA8
fan_speed: 1.0
idle_timeout: 60
heater: extruder

# Part cooling (CPAP)
[fan]
pin: PG12
kick_start_time: 0.3
off_below: 0.2
cycle_time: 0.0003

  # Chamber lights
[led lights]         
white_pin: PD13
initial_WHITE: 0.0
