# =============================================================================
# LEDS
# =============================================================================

# Chamber lights
[led lights]
white_pin: LIGHTS_PIN
initial_WHITE: 0.5
