# =============================================================================
# MCU
# =============================================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2B002D001850344D30353320-if00
restart_method: command

[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_250006001653584833373720-if00
restart_method: command
