# =============================================================================
# TMC AUTOTUNE — XY AWD
# Motor: LDO-42STH48-2804AC-R (use 2804ah entry, covers AC-R variant)
# =============================================================================

[autotune_tmc stepper_x]
motor: ldo-42sth48-2804ah

[autotune_tmc stepper_y]
motor: ldo-42sth48-2804ah

[autotune_tmc stepper_x1]
motor: ldo-42sth48-2804ah

[autotune_tmc stepper_y1]
motor: ldo-42sth48-2804ah

# Extruder — LDO-36STH20-1004AHG (1.0A rated)
[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
