[gcode_macro HEVORT_PURGE]
description: A purge macro that draws the HevOrt logo near your print area
gcode:
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    {% if printer.firmware_retraction is defined %}
        {% set RETRACT = G10 | string %}
        {% set UNRETRACT = G11 | string %}
    {% else %}
        {% set RETRACT = 'G1 E-.5 F2100' | string %}
        {% set UNRETRACT = 'G1 E.5 F2100' | string %}
    {% endif %}
    {% set kamp_settings = printer["gcode_macro _KAMP_Settings"] %}
    {% set verbose_enable = kamp_settings.verbose_enable | abs %}
    {% set purge_height = kamp_settings.purge_height | float %}
    {% set tip_distance = kamp_settings.tip_distance | float %}
    {% set purge_margin = kamp_settings.purge_margin | float %}
    {% set purge_amount = kamp_settings.purge_amount | float %}
    {% set flow_rate = kamp_settings.flow_rate | float %}
    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
    {% set purge_x_min = (all_points | map(attribute=0) | min | default(0)) %}
    {% set purge_y_min = (all_points | map(attribute=1) | min | default(0)) %}
    {% set purge_x_origin = ([purge_x_min - purge_margin, 0] | max) %}
    {% set purge_y_origin = ([purge_y_min - purge_margin, 0] | max) %}
    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}
    {% set logo_size = 20 %}
    {% set logo_x = ([purge_x_origin - logo_size, 0] | max) %}
    {% set logo_y = ([purge_y_origin - logo_size, 0] | max) %}
    {% if cross_section < 5 %}
        {action_respond_info("[Extruder] max_extrude_cross_section insufficient, purge skipped.")}
    {% else %}
        SAVE_GCODE_STATE NAME=Prepurge_State
        G92 E0
        G0 F{travel_speed}
        G90
        M83
        # --- Segment 1 ---
        G0 X{logo_x + 19.820} Y{logo_y + 8.088}
        G0 Z{purge_height}
        G1 E{tip_distance} F{purge_move_speed}
        G1 X{logo_x + 19.911} Y{logo_y + 8.633} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 20.000} Y{logo_y + 9.731} E{purge_amount * 0.00899} F{purge_move_speed}
        G1 X{logo_x + 19.999} Y{logo_y + 10.282} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.968} Y{logo_y + 10.832} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.906} Y{logo_y + 11.380} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.816} Y{logo_y + 11.924} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.692} Y{logo_y + 12.461} E{purge_amount * 0.00445} F{purge_move_speed}
        G1 X{logo_x + 19.544} Y{logo_y + 12.992} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.365} Y{logo_y + 13.513} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 19.156} Y{logo_y + 14.024} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.921} Y{logo_y + 14.523} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.658} Y{logo_y + 15.006} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.369} Y{logo_y + 15.476} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.055} Y{logo_y + 15.929} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 17.716} Y{logo_y + 16.364} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 17.354} Y{logo_y + 16.779} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 16.969} Y{logo_y + 17.174} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 16.563} Y{logo_y + 17.548} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 16.135} Y{logo_y + 17.900} E{purge_amount * 0.00451} F{purge_move_speed}
        G1 X{logo_x + 15.692} Y{logo_y + 18.224} E{purge_amount * 0.00445} F{purge_move_speed}
        G1 X{logo_x + 15.231} Y{logo_y + 18.525} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 14.752} Y{logo_y + 18.800} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 14.260} Y{logo_y + 19.047} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 13.755} Y{logo_y + 19.269} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 13.239} Y{logo_y + 19.461} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 12.357} Y{logo_y + 19.714} E{purge_amount * 0.00757} F{purge_move_speed}
        G1 X{logo_x + 11.622} Y{logo_y + 19.863} E{purge_amount * 0.00618} F{purge_move_speed}
        G1 X{logo_x + 11.091} Y{logo_y + 19.938} E{purge_amount * 0.00439} F{purge_move_speed}
        G1 X{logo_x + 10.541} Y{logo_y + 19.985} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 9.990} Y{logo_y + 20.000} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 9.439} Y{logo_y + 19.984} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 8.890} Y{logo_y + 19.938} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 8.344} Y{logo_y + 19.861} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 7.803} Y{logo_y + 19.756} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 7.268} Y{logo_y + 19.620} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 6.742} Y{logo_y + 19.455} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 6.227} Y{logo_y + 19.261} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 5.722} Y{logo_y + 19.040} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 5.230} Y{logo_y + 18.790} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 4.752} Y{logo_y + 18.515} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 4.291} Y{logo_y + 18.212} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 3.847} Y{logo_y + 17.885} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 3.422} Y{logo_y + 17.535} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 3.018} Y{logo_y + 17.160} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 2.633} Y{logo_y + 16.764} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 2.271} Y{logo_y + 16.348} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 1.934} Y{logo_y + 15.913} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 1.620} Y{logo_y + 15.459} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 1.331} Y{logo_y + 14.989} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 1.070} Y{logo_y + 14.505} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.835} Y{logo_y + 14.006} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.629} Y{logo_y + 13.495} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.450} Y{logo_y + 12.973} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.301} Y{logo_y + 12.443} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.180} Y{logo_y + 11.904} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.090} Y{logo_y + 11.361} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.030} Y{logo_y + 10.813} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.000} Y{logo_y + 10.262} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.000} Y{logo_y + 9.711} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 0.031} Y{logo_y + 9.161} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 0.092} Y{logo_y + 8.612} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 0.183} Y{logo_y + 8.068} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 0.308} Y{logo_y + 7.514} E{purge_amount * 0.00463} F{purge_move_speed}
        G1 X{logo_x + 0.454} Y{logo_y + 7.000} E{purge_amount * 0.00434} F{purge_move_speed}
        G1 X{logo_x + 0.634} Y{logo_y + 6.480} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 0.843} Y{logo_y + 5.968} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 1.079} Y{logo_y + 5.471} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 1.341} Y{logo_y + 4.986} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 1.631} Y{logo_y + 4.516} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 1.945} Y{logo_y + 4.064} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 2.284} Y{logo_y + 3.629} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 2.647} Y{logo_y + 3.214} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 3.031} Y{logo_y + 2.820} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 3.438} Y{logo_y + 2.447} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 3.863} Y{logo_y + 2.097} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 4.308} Y{logo_y + 1.771} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 4.770} Y{logo_y + 1.469} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 5.248} Y{logo_y + 1.194} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 5.740} Y{logo_y + 0.945} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 6.245} Y{logo_y + 0.725} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 6.761} Y{logo_y + 0.531} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 7.287} Y{logo_y + 0.367} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 7.822} Y{logo_y + 0.233} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 8.363} Y{logo_y + 0.127} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 8.946} Y{logo_y + 0.048} E{purge_amount * 0.00479} F{purge_move_speed}
        G1 X{logo_x + 9.783} Y{logo_y + 0.000} E{purge_amount * 0.00683} F{purge_move_speed}
        G1 X{logo_x + 10.560} Y{logo_y + 0.013} E{purge_amount * 0.00628} F{purge_move_speed}
        G1 X{logo_x + 11.110} Y{logo_y + 0.054} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 11.656} Y{logo_y + 0.130} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 12.197} Y{logo_y + 0.237} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 12.732} Y{logo_y + 0.373} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 13.258} Y{logo_y + 0.538} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 13.781} Y{logo_y + 0.736} E{purge_amount * 0.00452} F{purge_move_speed}
        G1 X{logo_x + 14.577} Y{logo_y + 1.102} E{purge_amount * 0.00716} F{purge_move_speed}
        G1 X{logo_x + 15.247} Y{logo_y + 1.480} E{purge_amount * 0.00628} F{purge_move_speed}
        G1 X{logo_x + 15.708} Y{logo_y + 1.781} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 16.152} Y{logo_y + 2.108} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 16.577} Y{logo_y + 2.460} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 16.982} Y{logo_y + 2.833} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 17.367} Y{logo_y + 3.228} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 17.729} Y{logo_y + 3.644} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.066} Y{logo_y + 4.080} E{purge_amount * 0.00446} F{purge_move_speed}
        G1 X{logo_x + 18.381} Y{logo_y + 4.533} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 18.669} Y{logo_y + 5.003} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 18.931} Y{logo_y + 5.488} E{purge_amount * 0.00447} F{purge_move_speed}
        G1 X{logo_x + 19.166} Y{logo_y + 5.986} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 19.377} Y{logo_y + 6.506} E{purge_amount * 0.00455} F{purge_move_speed}
        G1 X{logo_x + 19.551} Y{logo_y + 7.019} E{purge_amount * 0.00441} F{purge_move_speed}
        G1 X{logo_x + 19.700} Y{logo_y + 7.550} E{purge_amount * 0.00448} F{purge_move_speed}
        G1 X{logo_x + 19.806} Y{logo_y + 8.026} E{purge_amount * 0.00396} F{purge_move_speed}
        {RETRACT}
        G0 Z{purge_height * 2}
        # --- Segment 2 ---
        G0 X{logo_x + 9.205} Y{logo_y + 8.037}
        G0 Z{purge_height}
        {UNRETRACT}
        G1 X{logo_x + 9.129} Y{logo_y + 7.931} E{purge_amount * 0.00106} F{purge_move_speed}
        G1 X{logo_x + 8.925} Y{logo_y + 7.797} E{purge_amount * 0.00198} F{purge_move_speed}
        G1 X{logo_x + 8.679} Y{logo_y + 7.769} E{purge_amount * 0.00201} F{purge_move_speed}
        G1 X{logo_x + 5.359} Y{logo_y + 8.335} E{purge_amount * 0.02732} F{purge_move_speed}
        G1 X{logo_x + 5.126} Y{logo_y + 8.470} E{purge_amount * 0.00218} F{purge_move_speed}
        G1 X{logo_x + 4.987} Y{logo_y + 8.721} E{purge_amount * 0.00233} F{purge_move_speed}
        G1 X{logo_x + 4.970} Y{logo_y + 9.114} E{purge_amount * 0.00318} F{purge_move_speed}
        G1 X{logo_x + 3.298} Y{logo_y + 7.930} E{purge_amount * 0.01662} F{purge_move_speed}
        G1 X{logo_x + 5.024} Y{logo_y + 6.282} E{purge_amount * 0.01937} F{purge_move_speed}
        G1 X{logo_x + 5.114} Y{logo_y + 6.389} E{purge_amount * 0.00113} F{purge_move_speed}
        G1 X{logo_x + 5.319} Y{logo_y + 6.522} E{purge_amount * 0.00198} F{purge_move_speed}
        G1 X{logo_x + 5.564} Y{logo_y + 6.550} E{purge_amount * 0.00201} F{purge_move_speed}
        G1 X{logo_x + 14.916} Y{logo_y + 4.976} E{purge_amount * 0.07694} F{purge_move_speed}
        G1 X{logo_x + 14.916} Y{logo_y + 6.715} E{purge_amount * 0.01410} F{purge_move_speed}
        G1 X{logo_x + 11.116} Y{logo_y + 7.361} E{purge_amount * 0.03128} F{purge_move_speed}
        G1 X{logo_x + 10.957} Y{logo_y + 7.434} E{purge_amount * 0.00142} F{purge_move_speed}
        G1 X{logo_x + 10.857} Y{logo_y + 7.573} E{purge_amount * 0.00147} F{purge_move_speed}
        G1 X{logo_x + 10.758} Y{logo_y + 7.712} E{purge_amount * 0.00156} F{purge_move_speed}
        G1 X{logo_x + 10.658} Y{logo_y + 7.850} E{purge_amount * 0.00165} F{purge_move_speed}
        G1 X{logo_x + 10.632} Y{logo_y + 7.945} E{purge_amount * 0.00101} F{purge_move_speed}
        G1 X{logo_x + 10.605} Y{logo_y + 8.040} E{purge_amount * 0.00107} F{purge_move_speed}
        G1 X{logo_x + 10.579} Y{logo_y + 8.135} E{purge_amount * 0.00113} F{purge_move_speed}
        G1 X{logo_x + 10.551} Y{logo_y + 8.828} E{purge_amount * 0.00722} F{purge_move_speed}
        G1 X{logo_x + 9.444} Y{logo_y + 9.006} E{purge_amount * 0.01352} F{purge_move_speed}
        G1 X{logo_x + 9.442} Y{logo_y + 8.230} E{purge_amount * 0.00936} F{purge_move_speed}
        G1 X{logo_x + 9.408} Y{logo_y + 8.203} E{purge_amount * 0.00053} F{purge_move_speed}
        G1 X{logo_x + 9.374} Y{logo_y + 8.174} E{purge_amount * 0.00050} F{purge_move_speed}
        G1 X{logo_x + 9.341} Y{logo_y + 8.147} E{purge_amount * 0.00048} F{purge_move_speed}
        G1 X{logo_x + 9.307} Y{logo_y + 8.119} E{purge_amount * 0.00045} F{purge_move_speed}
        G1 X{logo_x + 9.273} Y{logo_y + 8.092} E{purge_amount * 0.00043} F{purge_move_speed}
        G1 X{logo_x + 9.254} Y{logo_y + 8.077} E{purge_amount * 0.00022} F{purge_move_speed}
        {RETRACT}
        G0 Z{purge_height * 2}
        # --- Segment 3 ---
        G0 X{logo_x + 10.776} Y{logo_y + 11.962}
        G0 Z{purge_height}
        {UNRETRACT}
        G1 X{logo_x + 10.823} Y{logo_y + 12.013} E{purge_amount * 0.00064} F{purge_move_speed}
        G1 X{logo_x + 10.871} Y{logo_y + 12.063} E{purge_amount * 0.00060} F{purge_move_speed}
        G1 X{logo_x + 11.075} Y{logo_y + 12.196} E{purge_amount * 0.00198} F{purge_move_speed}
        G1 X{logo_x + 11.322} Y{logo_y + 12.224} E{purge_amount * 0.00201} F{purge_move_speed}
        G1 X{logo_x + 15.290} Y{logo_y + 11.548} E{purge_amount * 0.03266} F{purge_move_speed}
        G1 X{logo_x + 15.503} Y{logo_y + 11.436} E{purge_amount * 0.00195} F{purge_move_speed}
        G1 X{logo_x + 15.658} Y{logo_y + 11.174} E{purge_amount * 0.00247} F{purge_move_speed}
        G1 X{logo_x + 15.680} Y{logo_y + 10.880} E{purge_amount * 0.00240} F{purge_move_speed}
        G1 X{logo_x + 17.351} Y{logo_y + 12.063} E{purge_amount * 0.01662} F{purge_move_speed}
        G1 X{logo_x + 15.642} Y{logo_y + 13.690} E{purge_amount * 0.01914} F{purge_move_speed}
        G1 X{logo_x + 15.536} Y{logo_y + 13.495} E{purge_amount * 0.00180} F{purge_move_speed}
        G1 X{logo_x + 15.345} Y{logo_y + 13.365} E{purge_amount * 0.00187} F{purge_move_speed}
        G1 X{logo_x + 15.086} Y{logo_y + 13.334} E{purge_amount * 0.00212} F{purge_move_speed}
        G1 X{logo_x + 5.733} Y{logo_y + 14.916} E{purge_amount * 0.07695} F{purge_move_speed}
        G1 X{logo_x + 5.733} Y{logo_y + 13.169} E{purge_amount * 0.01417} F{purge_move_speed}
        G1 X{logo_x + 8.847} Y{logo_y + 12.642} E{purge_amount * 0.02562} F{purge_move_speed}
        G1 X{logo_x + 9.119} Y{logo_y + 12.485} E{purge_amount * 0.00255} F{purge_move_speed}
        G1 X{logo_x + 9.219} Y{logo_y + 12.313} E{purge_amount * 0.00173} F{purge_move_speed}
        G1 X{logo_x + 9.319} Y{logo_y + 12.140} E{purge_amount * 0.00183} F{purge_move_speed}
        G1 X{logo_x + 9.345} Y{logo_y + 12.046} E{purge_amount * 0.00095} F{purge_move_speed}
        G1 X{logo_x + 9.369} Y{logo_y + 11.953} E{purge_amount * 0.00100} F{purge_move_speed}
        G1 X{logo_x + 9.395} Y{logo_y + 11.859} E{purge_amount * 0.00105} F{purge_move_speed}
        G1 X{logo_x + 9.419} Y{logo_y + 11.764} E{purge_amount * 0.00111} F{purge_move_speed}
        G1 X{logo_x + 9.433} Y{logo_y + 11.473} E{purge_amount * 0.00343} F{purge_move_speed}
        G1 X{logo_x + 9.446} Y{logo_y + 11.181} E{purge_amount * 0.00352} F{purge_move_speed}
        G1 X{logo_x + 10.556} Y{logo_y + 10.982} E{purge_amount * 0.01359} F{purge_move_speed}
        G1 X{logo_x + 10.570} Y{logo_y + 11.373} E{purge_amount * 0.00471} F{purge_move_speed}
        G1 X{logo_x + 10.585} Y{logo_y + 11.763} E{purge_amount * 0.00459} F{purge_move_speed}
        G1 X{logo_x + 10.633} Y{logo_y + 11.813} E{purge_amount * 0.00079} F{purge_move_speed}
        G1 X{logo_x + 10.681} Y{logo_y + 11.863} E{purge_amount * 0.00075} F{purge_move_speed}
        G1 X{logo_x + 10.728} Y{logo_y + 11.913} E{purge_amount * 0.00071} F{purge_move_speed}
        G1 X{logo_x + 10.731} Y{logo_y + 11.917} E{purge_amount * 0.00005} F{purge_move_speed}
        {RETRACT}
        G0 Z{purge_height * 2}
        G92 E0
        M82
        G0 Z{purge_height * 2} F{travel_speed}
        RESTORE_GCODE_STATE NAME=Prepurge_State
    {% endif %}