# =============================================================================
# PRINT_END
# =============================================================================
# Slicer end gcode should only contain: PRINT_END

[gcode_macro PRINT_END]
gcode:
    {% set cfg = printer["gcode_macro _CONFIG"] %}

    M400                                              # Wait for moves to finish
    G91                                               # Relative positioning
    G1 E-3 F1800                                      # Retract filament
    G1 Z{cfg.z_hop} F600                              # Raise Z
    G90                                               # Absolute positioning
    G0 X{cfg.park_x} Y{printer.toolhead.axis_maximum.y - 10} F9000   # Park toolhead
    M104 S0                                           # Hotend off
    M140 S0                                           # Bed off
    M107                                              # Fan off
    M84                                               # Motors off
